html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  background-color: #f3f3f3;
  margin: 1%;
}
.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2%;
}
.nav-div .WList-Logo {
  width: 15%;
  height: 15%;
}
@media (max-width: 500px) {
  .nav-div .WList-Logo {
    width: 40%;
    height: 40%;
  }
}
.nav-div nav {
  display: flex;
  font-size: 1.7rem;
  width: 15%;
}
@media (max-width: 500px) {
  .nav-div nav {
    width: 40%;
  }
}
.nav-div nav a {
  color: #db4c3f;
  text-decoration: none;
  width: 60%;
}
.footer {
  display: flex;
  justify-content: center;
}
.Signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 62.5%;
  font-size: 1.8rem;
}
.Signup .Btn2 {
  width: 30%;
  margin: 5% 50% 0 30%;
  padding: 2%;
  border: 2px solid #db4c3f;
  background-color: whitesmoke;
  border-radius: 10px;
  font-weight: bold;
}
.intro-container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .intro-container {
    display: flex;
    flex-direction: column;
  }
}
.intro-container .intro-desc {
  width: 50%;
}
@media (max-width: 500px) {
  .intro-container .intro-desc {
    width: 100%;
    margin-bottom: 5%;
  }
}
.intro-container .intro-img-div {
  width: 50%;
}
@media (max-width: 500px) {
  .intro-container .intro-img-div {
    display: none;
  }
}
.intro-container .intro-img-div .intro-img {
  width: 100%;
  height: 80%;
}
.intro-container h2 {
  font-size: 2.5rem;
  color: #db4c3f;
}
@media (max-width: 500px) {
  .intro-container h2 {
    width: 100%;
  }
}
.intro-container p {
  font-size: 1.8rem;
  margin-right: 15%;
}
@media (max-width: 500px) {
  .intro-container p {
    width: 100%;
  }
}
.intro-container .Btn1 {
  width: 20%;
  margin: 5% 50% 0 30%;
  padding: 2%;
  border: 2px solid #db4c3f;
  background-color: whitesmoke;
  border-radius: 10px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .intro-container .Btn1 {
    width: 20%;
  }
}
.Content-Section {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .Content-Section {
    display: flex;
    flex-direction: column;
  }
}
.Content-Section .Text-block {
  width: 50%;
}
@media (max-width: 500px) {
  .Content-Section .Text-block {
    width: 100%;
  }
}
.Content-Section .Feature-img-div {
  width: 50%;
}
@media (max-width: 500px) {
  .Content-Section .Feature-img-div {
    display: none;
  }
}
.Content-Section .Feature-img-div .Feature-img {
  width: 80%;
  height: 80%;
}
.Content-Section h3 {
  font-size: 2.2rem;
  color: #db4c3f;
}
.Content-Section p {
  font-size: 1.6rem;
  margin-right: 15%;
}
.Content-Section-Inverse {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .Content-Section-Inverse {
    display: flex;
    flex-direction: column;
  }
}
.Content-Section-Inverse .Text-block {
  width: 50%;
}
@media (max-width: 500px) {
  .Content-Section-Inverse .Text-block {
    width: 100%;
  }
}
.Content-Section-Inverse .Feature-img-div {
  width: 50%;
}
@media (max-width: 500px) {
  .Content-Section-Inverse .Feature-img-div {
    display: none;
  }
}
.Content-Section-Inverse .Feature-img-div .Feature-img {
  width: 80%;
  height: 80%;
}
.Content-Section-Inverse h3 {
  font-size: 2.2rem;
  color: #db4c3f;
}
.Content-Section-Inverse p {
  font-size: 1.6rem;
}
.about-nav-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  .about-nav-div {
    padding: 0 20% 0 20%;
    display: flex;
    justify-content: center;
  }
}
.about-nav-div .WList-Logo {
  width: 15%;
  height: 15%;
}
@media (max-width: 500px) {
  .about-nav-div .WList-Logo {
    width: 40%;
    height: 40%;
  }
}
.about-nav-div nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  width: 15%;
}
@media (max-width: 500px) {
  .about-nav-div nav {
    font-size: 1.2rem;
    width: 50%;
  }
}
.about-nav-div nav a {
  display: flex;
  justify-content: space-between;
  color: #db4c3f;
  text-decoration: none;
  width: 100%;
}
@media (max-width: 500px) {
  .about-nav-div nav a {
    width: 100%;
    padding: 0 0 0 20%;
  }
}
h1 {
  font-size: 62.5%;
  font-size: 3rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
    padding: 0 0 0 40%;
  }
}
.parent {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 20%;
  }
}
.content-parent {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 2% 0 2%;
}
@media (max-width: 500px) {
  .content-parent {
    justify-content: center;
    width: 100%;
  }
}
.content-parent .About-img-div {
  width: 25%;
  height: 50%;
}
@media (max-width: 500px) {
  .content-parent .About-img-div {
    width: 100%;
    height: 50%;
  }
}
.content-parent .About-img-div .About-img {
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  .content-parent .About-img-div {
    width: 50%;
    height: 50%;
    padding: 0 0 0 20%;
  }
}
.content-parent h2 {
  font-size: 62.5%;
  font-size: 2.2rem;
}
@media (max-width: 500px) {
  .content-parent h2 {
    font-size: 1.5rem;
    padding: 0 0 0 10%;
  }
}
.content-parent p {
  font-size: 62.5%;
  font-size: 1.8rem;
}
@media (max-width: 500Px) {
  .content-parent p {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .content-child {
    width: 100%;
  }
}
