//Footer styling


.footer {
    display: flex;
    justify-content: center;
}

.Signup {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .Btn2 {
        width: 30%;
        margin: 5% 50% 0 30%;
        padding: 2%;
        border: 2px solid @wundercolor;
        background-color: whitesmoke;
        border-radius: 10px;
        font-weight: bold;
    }


}