// Landing Page Styling

.intro-container {
    display: flex;
    flex-direction: row;
    @media @phone {
        display: flex;
        flex-direction: column;
    }

    .intro-desc {
        width: 50%;
        @media @phone {
            width: 100%;
            margin-bottom: 5%;
        }
    }

    .intro-img-div {
        width: 50%;
        @media @phone {
            display: none;
        }

        .intro-img {
            width: 100%;
            height: 80%;
        }
    }

    h2 {
        font-size: 2.5rem;
        color: @wundercolor;
        @media @phone {
            width: 100%;
        }
    }

    p {
        font-size: 1.8rem;
        margin-right: 15%;
        @media @phone {
            width: 100%;
        }
    }

    .Btn1 {
        width: 20%;
        margin: 5% 50% 0 30%;
        padding: 2%;
        border: 2px solid @wundercolor;
        background-color: whitesmoke;
        border-radius: 10px;
        font-weight: bold;
        @media @phone {
            width: 20%;
        }
    }
}

.Content-Section {
    display: flex;
    flex-direction: row;
    @media @phone {
        display: flex;
        flex-direction: column;
    }

    .Text-block {
        width: 50%;
        @media @phone {
            width: 100%;
        }
    }

    .Feature-img-div {
        width: 50%;
        @media @phone {
            display: none;
        }

        .Feature-img {
            width: 80%;
            height: 80%;
        }
    }

    h3 {
        font-size: 2.2rem;
        color: @wundercolor;
    }

    p {
        font-size: 1.6rem;
        margin-right: 15%;
    }
}

.Content-Section-Inverse {
    display: flex;
    flex-direction: row-reverse;
    @media @phone {
        display: flex;
        flex-direction: column;
    }

    .Text-block {
        width: 50%;
        @media @phone {
            width: 100%;
        }
    }

    .Feature-img-div {
        width: 50%;
        @media @phone {
            display: none;
        }

        .Feature-img {
            width: 80%;
            height: 80%;
        }
    }

    h3 {
        font-size: 2.2rem;
        color: @wundercolor;
    }

    p {
        font-size: 1.6rem;
    }
}
