/* WunderList 2.0 CSS */

/* use #f3f3f3 (White Smoke) for background color */
/* use #DB4C3F (WunderList Red) for logo and primary color red */
/* see how #B22222 (Firebrick Red) might look*/

html {
    background-color: #f3f3f3;
}

.entire-container {
    margin: 0 1% 0 1%;
    background-color: #f3f3f3;
}

.nav-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2%;
    margin: 2%;
}


h1 {
    color: #db4c3f;
}

.WList-Logo {
    width: 20%;
    height: 30%;
    padding-left: 2%;
}

nav {
    display: flex;
    width: 20%;
}

nav a {
    color: #db4c3f;
    width: 100%;
    font-size: 62.5%;
    font-size: 1.2rem;
    text-decoration: none;
}

.intro-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid;
}

.intro-desc {
    width: 50%;
}

.intro-img-div {
    width: 50%;
}

.intro-img {
    width: 100%;
    height: 80%;
}


.Content-Section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5% 0 0 0;
}

.Content-Section-Inverse {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 5% 0 0 0;
}

.Text-block {
    width: 50%;
    padding: 1%;
    align-content: center;
}

.Text-block-child {
    align-content: center;
}

.Feature-img-div {
    width: 50%;
    padding: 1%;
}


.Feature-img {
    width: 100%;
    height: 100%; 
}

h3 {
    color: #db4c3f;
}

@media (max-width: 500px){

    .nav-div {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .left-nav-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .WList-Logo {
        width: 20%;
        height: 20%;
    }

    nav {
        width: 50%;
    }

    .intro-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .intro-desc {
        width: 100%;
    }

    .intro-img-div {
        width: 100%;
    }

    .Btn1 {
        margin-bottom: 3%;

    }

    .Content-Section {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .Text-block {
        width: 100%;
    }

    .Feature-img-div {
        width: 100%
    }

    .Content-Section-Inverse {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .Signup {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}